<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IMS</display-name>
  <welcome-file-list>
    <welcome-file>/views/login/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cui</servlet-name>
    <jsp-file>/views/computerUnitsInventory/computerUnitsInventory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cui</servlet-name>
    <url-pattern>/inventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>peripheral</servlet-name>
    <jsp-file>/views/peripherals/peripherals.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>peripheral</servlet-name>
    <url-pattern>/peripherals</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>assignment</servlet-name>
    <jsp-file>/views/unitAssignment/unitAssignment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignment</servlet-name>
    <url-pattern>/unitassignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userlist</servlet-name>
    <jsp-file>/views/userMaintenance/users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlist</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usermaintenance</servlet-name>
    <jsp-file>/views/userMaintenance/userMaintenance.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>usermaintenance</servlet-name>
    <url-pattern>/usermaintenance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>homepage</servlet-name>
    <jsp-file>/views/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>homepage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>auth</filter-name>
    <filter-class>com.ims.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>authorize</filter-name>
    <filter-class>com.ims.filter.UserMaintenanceAuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/inventory</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/peripherals</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/unitassignment</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/users</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>authorize</filter-name>
    <url-pattern>/users</url-pattern>
  </filter-mapping>
</web-app>